{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}

<!-- <link href="{% static 'css/visualization/county.css' %}" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:800' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">

    <script src="{% static 'js/visualization/county.js' %}"></script>




    <!-- <link href="{% static 'chart/css/sb-admin.css' %}" rel="stylesheet">
  <link href="{% static 'chart/css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="{% static 'chart/modal/css/freelancer.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"> -->

        <link href="{% static 'css/leaflet.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
<script src="https://use.fontawesome.com/1179e95335.js"></script>

    <script type="text/javascript">


    // console.log("entered")


      var topicWeights = {{ topicWeights|safe }};
      var monthList = {{ monthList|safe }};
      var monthRange = {{ monthRange|safe }};
      var topicList = {{ topicList|safe }};
      var times = {{times|safe}};
      var titles = {{titles|safe}};
      var locations = {{location|safe}};
      var topics = {{topics|safe}};
      var ids = {{phrase|safe}};
      var key_phrase = {{sentence|safe}};
      var image = {{images|safe}};
      var json8 = {{celldata|safe}};


    $( document ).ready(function() {


          // console.log("load")


          document.getElementById("military.ceasefire").checked = false;

          var geoJsonData = {{ geoJsonData|safe }};
          var map = L.map('mapid').setView([52.60311, 39.57076], 5);
          var geojsonFeature = geoJsonData['features'];

          function styleLines(feature) {
              var wt;
              var col;
              if (map.getZoom() <= 6) {
                  wt = 2;
              } else {
                  wt = 10;
              }
              if (feature.properties.NAME_0 == "Ukraine") {
                  return {
                      weight: wt,
                      opacity: .9,
                      fillColor: "#fff",
                      color: '#198C62'
                  }
              }
              return {
                  weight: wt,
                  opacity: .9,
                  fillColor: "#fff",
                  color: '#3388ff'
              };
          }

          var latlng = "LatLng(0, 0)";
          var para = document.createElement("p");
          para.id = 'latlng';
          para.innerHTML = latlng;
          var elements = document.getElementsByClassName("leaflet-control-attribution leaflet-control");
          elements[0].appendChild(para);


          function onEachFeature(feature, layer) {
              if (feature.properties && feature.properties.NAME_0) {
                  layer.bindPopup('<h3>' + feature.properties.NAME_1 + '</h3><p>' + feature.properties.NAME_0 + '</p>', {
                      closeButton: false,
                      offset: L.point(0, -20)
                  });
                  layer.on('mouseover', function () {
                      layer.openPopup();
                  });
                  layer.on('mouseout', function () {
                      layer.closePopup();
                  });

              }
          };



          var layerGroup = L.geoJSON(geojsonFeature, {
              style: styleLines,
              onEachFeature: onEachFeature
          }).addTo(map);


          map.on("mousemove", function (event) {
              var elm = document.getElementById("latlng");
              elm.innerHTML = event.latlng.toString();
          });


          layerGroup.eachLayer(function (layer) {
              layer.on('click', function () {
                // console.log(layer.feature.properties.NAME_1);
                // //console.log(this._leaflet_id)
                var input_time = document.getElementById("monthText").innerHTML;
                   var input_city = layer.feature.properties.NAME_1.toString();
                   var current_input_city = document.getElementById("current_input_city");
                   current_input_city.innerHTML = "Current: " + input_city.toString();
                   var hidden_input_city = document.getElementById("hidden_input_city");
                   hidden_input_city.innerHTML = input_city;
                   //Define radio button list
                   var politics = ["justice", "election", "international_relation", "governance"];
                   var economy = ["trade", "finance", "tax", "welfare"];
                   var military = ["combat", "weapons", "terrorism", "ceasefire"];
                   var all_radio_button_ids = ["politics.justice", "politics.election", "politics.international_relation", "politics.governance","economic.trade", "economic.finance", "economic.tax", "economic.welfare","military.combat", "military.weapons", "military.terrorism", "military.ceasefire"];
                   var checked_button_id; // it stores which radio button is marked
                   for (var i = 0; i < all_radio_button_ids.length; i++) {
                       if (document.getElementById(all_radio_button_ids[i]).checked == true) {
                           checked_button_id = all_radio_button_ids[i].split(".")[1];
                       }
                   }
                   if (document.getElementById("economic").checked == true) {
                     checked_button_id = "economic";
                   }
                   if (document.getElementById("military").checked == true) {
                     checked_button_id = "military";
                   }
                   if (document.getElementById("politics").checked == true) {
                     checked_button_id = "politics";
                   }


                   // Let's prepare data for the pie chart, currently the pie chart is selected only based on years
                   var piechart_dict={};
                   var piechart_news_dict={};
                   var times_id_list=[];
                   for (var i = 0; i < times.length; i++) {
                       if (times[i].length >= 7) {
                       if (times[i].substr(0,7) == input_time) {
                           times_id_list.push(ids[i]);
                       }
                   }
                }

                var locations_keys = Object.keys(locations);
                for (var i = 0; i < ids.length; i++) {
                  if (times[i].length > 5) {
                    var temptime = times[i].substr(0,7);
                    if (temptime == input_time) {
                    if (ids[i] in locations) {
                      temp_list = locations[ids[i]];
                      if (temp_list.includes(input_city)) {
                        var temp_topic = topics[i].split(".");
                        if (temp_topic.length > 1) {
                                   if (!(temp_topic[1] in piechart_dict)) {
                                       piechart_dict[temp_topic[1]] = 1;
                                       piechart_news_dict[temp_topic[1]]=[];
                                       piechart_news_dict[temp_topic[1]].push(ids[i]);
                                   } else {
                                       piechart_dict[temp_topic[1]] += 1;
                                       piechart_news_dict[temp_topic[1]].push(ids[i]);
                                   }
                               } else {
                                 if (!(temp_topic[0] in piechart_dict)) {
                                     piechart_dict[temp_topic[0]] = 1;
                                     piechart_news_dict[temp_topic[0]]=[];
                                     piechart_news_dict[temp_topic[0]].push(ids[i]);
                                 } else {
                                     piechart_dict[temp_topic[0]] += 1;
                                     piechart_news_dict[temp_topic[0]].push(ids[i]);
                                 }

                               }
                      }
                      // for (var i = 0; i < temp_list.length; i++) {
                      }
                      }
                    }
                  }
                // console.log(times_id_list);
        //         for (var i = 0; i < locations_keys.length; i++) {
        //             var temp_key = locations_keys[i];
        //
        //             if (times_id_list.includes(temp_key)) {
        //               // console.log(locations[temp_key]);
        //             if (locations[temp_key].includes(input_city)) {
        //                 var temp_topic = topics[i].split(".");
        //
        //                 if (temp_topic.length > 1) {
        //                 if (!(temp_topic[1] in piechart_dict)) {
        //                     piechart_dict[temp_topic[1]] = 1;
        //                     piechart_news_dict[temp_topic[1]]=[];
        //                     piechart_news_dict[temp_topic[1]].push(temp_key);
        //                 } else {
        //                     piechart_dict[temp_topic[1]] += 1;
        //                     piechart_news_dict[temp_topic[1]].push(temp_key);
        //                 }
        //             }
        //         }
        //     }
        // }
        // console.log(piechart_news_dict);

                // Now, piechart_dict is already be completed, we need to draw the graph;
                var piechartContainer = document.getElementById("piechartContainer");
                piechartContainer.innerHTML='<canvas id="myAreaChart"></canvas>';
                // Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
                  Chart.defaults.global.defaultFontColor = '#000000';

                  var piechart_label = Object.keys(piechart_dict);
                  for (var i = 0; i < piechart_label.length; i++) {
                    piechart_label[i] = piechart_label[i].toUpperCase();
                  }

                  // Pie Chart Example
                  var ctx = document.getElementById("myAreaChart");
                  var myPieChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                      labels: piechart_label,
                      datasets: [{
                        data: Object.values(piechart_dict),
                        backgroundColor: ['#5DA5DA', '#FAA43A', '#60BD68',"#F17CB0","#B276B2","#DECF3F","#F15854", "#4D4D4D", "#B2912F", "#ffbaba", "#6497b1", "#d896ff"],
                        hoverBackgroundColor: ['#5DA5DA', '#FAA43A', '#60BD68',"#F17CB0","#B276B2","#DECF3F","#F15854","#4D4D4D", "#B2912F", "#ffbaba", "#6497b1", "#d896ff"],
                        hoverBorderColor: "rgba(234, 236, 244, 1)",
                      }],
                    },
                    options: {
                      maintainAspectRatio: false,
                      tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 12,
                      },
                      legend: {
                        position: 'bottom',
                        fontWeight: 'bolder',
                        labels: {
                            usePointStyle:true,
                          }
                        // display:false,
                      },
                      cutoutPercentage: 70,
                      'onClick' : function (evt) {
            //   var keywords = document.getElementById("keywords");
              var paperdetail = document.getElementById("paperdetail");
              var paperdetail_html = "";
              var modal_group = document.getElementById("modal_group");
              var modal_group_html = "";
            //   var keywords_html = "";
              var points = myPieChart.getElementsAtEvent(evt);
              // console.log(points);
              var graph_index = points[0]._index;
              var topic_name = Object.keys(piechart_dict)[graph_index];
              var news_list=[];
              if (Object.keys(piechart_dict).length != 0) {
              var news_list = piechart_news_dict[topic_name];
              } else {
                news_list = [];
              } // This stores the news id for each clicked category;
              var paper_detail_width = document.getElementById("cool").offsetWidth;
              var name2 = document.getElementById("name2");
              name2.innerHTML = "News Details of " + topic_name;
              console.log(paper_detail_width);
              for (var i = 0; i < news_list.length; i++) {
                  var temp_title = titles[news_list[i]]["title"];
                  var temp_text = titles[news_list[i]]["text"];
                  var target_id = news_list[i];
                  var very_important = document.getElementById("wholebody").offsetWidth;
                  paperdetail_html +=  '<a data-toggle="modal"  data-target="#myModal' + target_id + '" class="list-group-item list-group-item-action" style="border-radius:20px; border-style:none;width:'+(paper_detail_width).toString()+'px;"><p class="font-weight-bold" style="text-align: center; font-size:21px; font-weight:bold;">' +temp_title+'</p></a>';
                  modal_group_html +=  '<div class="portfolio-modal modal fade" id="myModal'+target_id+'" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div><div class="container"><div class="row"><div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><h2  style="text-align:left;">'+temp_title+'</h2><p  style="text-align:left;">'+temp_text+'</p><button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button></div></div></div></div></div></div></div>';
              }
              paperdetail.innerHTML = paperdetail_html;
              modal_group.innerHTML = modal_group_html;


                         }
                    },
                  });
                   //Even the pie chart is built, we then set the default value for news detail. We don't want it to be empty
                   var paperdetail = document.getElementById("paperdetail");
                  var paperdetail_html = "";
                  var modal_group = document.getElementById("modal_group");
                  var modal_group_html = "";
                  paperdetail.innerHTML = "";
                  modal_group.innerHTML = "";
                //   var keywords_html = "";
                var default_category = "";
                if (Object.keys(piechart_dict).length != 0) {
                  default_category = Object.keys(piechart_dict)[0];
                }
                  var name2 = document.getElementById("name2");
              name2.innerHTML = "News Details of " + default_category;
                  // console.log(default_category);
                  var news_list=[];
                if (Object.keys(piechart_news_dict).length != 0) {
                  news_list = piechart_news_dict[default_category];
                 } // This stores the news id for each clicked category;
                  var paper_detail_width = document.getElementById("cool").offsetWidth;
                  for (var i = 0; i < news_list.length; i++) {
                      var temp_title = titles[news_list[i]]["title"];
                      var temp_text = titles[news_list[i]]["text"];
                      var target_id = news_list[i];
                      var very_important = document.getElementById("wholebody").offsetWidth;
                      paperdetail_html +=  '<a data-toggle="modal"  data-target="#myModal' + target_id + '" class="list-group-item list-group-item-action" style="border-radius:20px; border-style:none;width:'+(paper_detail_width).toString()+'px;"><p class="font-weight-bold" style="text-align: center; font-weight:bold; font-size:21px;">' +temp_title+'</p></a>';
                      modal_group_html +=  '<div class="portfolio-modal modal fade" id="myModal'+target_id+'" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div><div class="container"><div class="row"><div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><h2  style="text-align:left;">'+temp_title+'</h2><p  style="text-align:left;">'+temp_text+'</p><button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button></div></div></div></div></div></div></div>';
                  }
                  paperdetail.innerHTML = paperdetail_html;
                  modal_group.innerHTML = modal_group_html;
                  //Then, let's build the line chart. but we need to do somethind for the data
                  var linechart_dict={};
                  var name;
                  if (politics.includes(checked_button_id) == true || checked_button_id == "politics") {
                      linechart_dict["justice"] = {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0, "August":0, "September":0, "October":0, "November":0, "December":0};
                      linechart_dict["election"] = {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0, "August":0,"September":0, "October":0, "November":0, "December":0};
                      linechart_dict["international_relation"]= {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0, "August":0,"September":0, "October":0, "November":0, "December":0};
                      linechart_dict["governance"] =  {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0,"August":0, "September":0, "October":0, "November":0, "December":0};
                      linechart_dict["miss"] =  {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0,"August":0, "September":0, "October":0, "November":0, "December":0};
                      name = "politics";
                  }
                  if (military.includes(checked_button_id) == true || checked_button_id == "military") {
                    linechart_dict["combat"] = {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0, "August":0, "September":0, "October":0, "November":0, "December":0};
                    linechart_dict["weapons"] = {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0, "August":0,"September":0, "October":0, "November":0, "December":0};
                    linechart_dict["terrorism"]= {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0, "August":0,"September":0, "October":0, "November":0, "December":0};
                    linechart_dict["ceasefire"] =  {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0,"August":0, "September":0, "October":0, "November":0, "December":0};
                    linechart_dict["miss"] =  {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0,"August":0, "September":0, "October":0, "November":0, "December":0};
                    name = "military";
                }
                  if (economy.includes(checked_button_id)==true || checked_button_id == "economic") {
                    linechart_dict["trade"] = {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0, "August":0, "September":0, "October":0, "November":0, "December":0};
                    linechart_dict["finance"] = {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0, "August":0,"September":0, "October":0, "November":0, "December":0};
                    linechart_dict["tax"]= {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0, "August":0,"September":0, "October":0, "November":0, "December":0};
                    linechart_dict["welfare"] =   {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0,"August":0, "September":0, "October":0, "November":0, "December":0};
                    linechart_dict["miss"] =  {"January":0, "Feburary":0, "March":0, "April":0, "May":0, "June":0, "July":0,"August":0, "September":0, "October":0, "November":0, "December":0};
                    name = "economic";
                }
                  var location_list_ids = [];
                  var month_dict={"01":"January", "02":"Feburary", "03":"March", "04":"April", "05":"May", "06":"June","07":"July","08":"August", "09":"September", "10":"October", "11":"November", "12":"December"};
                  for (var key in locations) {
                      var temp_location = locations[key];
                      if (temp_location.includes(input_city)) {
                          location_list_ids.push(key);
                      }
                  }

                  for (var i = 0; i < ids.length; i++) {
                      if (location_list_ids.includes(ids[i])) {
                          if (times[i].length >= 5 && times[i].includes(input_time.substr(0,4))) {
                          var temp_time = times[i].split("-")[1];

                          var temp_month = month_dict[temp_time];
                          var temp_topic = topics[i].split(".");

                          if (temp_topic.length == 2) {
                              if (temp_topic[1] in linechart_dict) {
                              linechart_dict[temp_topic[1]][temp_month] += 1;
                              }
                          } else {
                              if (temp_topic == name) {
                            linechart_dict["miss"][temp_month] += 1;
                        }
                          }
                        }
                      }
                  }
                  //Now, the data is ready, we begin to build line chart
                  // helpful color to build line chart

                 //Codes for building line chart
                  var colors= ['rgb(93,165,218,', 'rgb(250,164,58,', 'rgb(96,189,104,',"rgb(241,124,176,","rgb(219,50,54,","#DECF3F"];
                  var linechartContainer = document.getElementById("linechartContainer");
                linechartContainer.innerHTML='<canvas id="myLineChart"></canvas>';
                var ctx1 = document.getElementById("myLineChart");
      var myLineChart = new Chart(ctx1, {
        type: 'line',
        data: {
          labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
          datasets: [],
        },
        options: {
          maintainAspectRatio: false,
          layout: {
            padding: {
              left: 10,
              right: 25,
              top: 25,
              bottom: 0
            }
          },
          scales: {
            xAxes: [{
              time: {
                unit: 'date'
              },
              gridLines: {
                display: false,
                drawBorder: false
              },
              ticks: {
                maxTicksLimit: 12
              }
            }],
            yAxes: [{
              ticks: {
                maxTicksLimit: 5,
                padding: 10
                // Include a dollar sign in the ticks
              },
              gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2]
              }
            }],
          },
          legend: {
            position: 'bottom',
                        labels: {
                            usePointStyle:true,
                          },
          },
          tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            titleMarginBottom: 10,
            titleFontColor: '#6e707e',
            titleFontSize: 14,
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            intersect: false,
            mode: 'index',
            caretPadding: 10
          }
        }
      });
      var labels = Object.keys(linechart_dict);
      for (var i = 0; i < 5; i++) {
        var temp_label = labels[i];
        var temp_data = Object.values(linechart_dict[temp_label]);
        var easy_color = colors[i] + '0.8)';
        var hard_color = colors[i] + '0.8)';
        var temp_label = temp_label.toUpperCase();
        myLineChart.data.datasets.push(
          {
            label: temp_label,
            lineTension: 0.3,
            backgroundColor: easy_color,
            borderColor: hard_color,
            pointRadius: 0,
            pointBackgroundColor: hard_color,
            pointBorderColor: hard_color,
            pointHoverRadius: 3,
            borderColor:"rgb(0,0,0,0)",
            pointHoverBackgroundColor: hard_color,
            pointHoverBorderColor: hard_color,
            pointHitRadius: 10,
            pointBorderWidth: 2,
            data: temp_data,
          }
        );
        myLineChart.update();
      }


      //Next part is the keywords and phrases and image
      var keyword_sentence = document.getElementById("keywords");
      keyword_sentence.innerHTML = "";
      // console.log(key_phrase);
      var key_phrase_list = [];
      var key_sentence_list=[];
      var phrase_html = "";
      var category_name = "";
      if (military.includes(checked_button_id) || checked_button_id == "military") {
        category_name = "military";
      }
      if (economy.includes(checked_button_id) || checked_button_id == "economic") {
        category_name = "economics";
      }
      if (politics.includes(checked_button_id) || checked_button_id == "politics") {
        category_name = "politics";
      }

      var paper_detail_width = document.getElementById("keywords").offsetWidth;
      for(var key in key_phrase){
        if (checked_button_id == "politics" || checked_button_id == "military" || checked_button_id == "economic") {
          checked_button_id = checked_button_id+".";
        }
        if(key.includes(checked_button_id)){
          if(key.includes(input_time)){
            if(key.includes(input_city)){
              var content = key_phrase[key];
              // console.log(content);
              for(var words in content){
                var sentence = content[words];
                phrase_html += '<a class="list-group-item bg-light-gray list-group-item-action flex-column align-items-start" style="border-radius:16px; width:'+(paper_detail_width).toString()+'px!important; border-style:none;"><li class="font-weight-bold text-primary" style="text-transform: uppercase;font-size:21px;">'+words.substr(0,3)+'<span class="text-dark" style="text-transform:upperclass;">'+words.substr(3,words.length)+'</span></li><li class="section-subheading text-muted font-weight-bold" style="font-size:17px;font-family: "Droid Serif"; font-style: italic!important;">'+sentence+'</li></a>';

              }
              break;

            }
          }
        }
      }
      keyword_sentence.innerHTML = phrase_html;
     console.log(key_phrase["politics.governance_SEP_Donets'k_SEP_2014-05"]);

      //Keywords is done, we need to do the image part
      var src = "";
      for(var t in image){
        if(t.includes(input_time) && src.length == 0){
          var location = image[t];
          for(var temp_city in location){
            if(temp_city.includes(input_city) && src.length == 0){
              var temp_topic = location[temp_city];
              for(var topic_name in temp_topic){
                if (checked_button_id == "politics" || checked_button_id == "economic" ||checked_button_id == "military") {
                  checked_button_id = checked_button_id + ".";
                }
                if(topic_name.includes(checked_button_id) && src.length == 0){
                  src = temp_topic[topic_name];
                  break;
                }
              }
            }
            }
          }
        }



      //Please keep this code, probably these codes will be used later.
      // if(src.length == 0){
      //   for(var location in image[ROOT]){
      //     if(location.includes(city)){
      //       var l3 = image[ROOT][location];
      //       for(var t in l3){
      //         if(t.includes(time)){
      //           src = l3[t];
      //         }
      //       }
      //     }
      //   }
      // }
      //Complete the src of image, then put innerhtml in the index
      console.log(src);
      if(src.includes("jpg")){
        src = "static/jsonData/pics/pics/jpg/"+src;
      }
      else if (src.includes("png")){
        src = "static/jsonData/pics/pics/png/"+src;
      }
      console.log(src);
      var image_container = document.getElementById("image_container");
      var imagegroup = document.getElementById("imagegroup");
      if (src != "") {
      image_container.innerHTML = "<img  id = 'actual' src=" + src +" style='height:auto; width:"+(imagegroup.offsetWidth*0.95).toString()+"px!important; border-radius:25px;'>";
    } else {
      var temp_src = "static/img/notfound.png";
      image_container.innerHTML = "<img  id='actual' src=" + temp_src +" style='height:auto; width:"+(imagegroup.offsetWidth*0.95).toString()+"px!important; border-radius:25px;'>";
    }
      var explain = document.getElementById("explain");
      if (src.length != 0) {
        explain.innerHTML = "<h3>Relevant Image</h3><p>This image is selected based on selections of user.</p>";
      } else {
        explain.innerHTML = "<h3>No Relevant Image Found</h3><p></p>";
      }
      var actual = document.getElementById("actual");
      var overlay = document.getElementById("overlay");
      overlay.style.width = actual.offsetWidth.toString() + "px";
      var search = document.getElementById("search");
      search.value= "";



      var input_time = document.getElementById("monthText").innerHTML;
      var all_ids = ["politics", "military","economic","politics.justice", "politics.election", "politics.international_relation", "politics.governance","economic.trade", "economic.finance", "economic.tax", "economic.welfare","military.combat", "military.weapons", "military.terrorism", "military.ceasefire"];

      for (var i = 0; i < all_ids.length; i++) {
        var temp = document.getElementById(all_ids[i] + "1");
        var num = 0;
        if (input_city in json8[input_time]) {
          if (all_ids[i] in json8[input_time][input_city]) {
         num = json8[input_time][input_city][all_ids[i]];
       }
      }
        if (all_ids[i] == "politics" || all_ids[i] == "military" || all_ids[i] == "economic") {
          temp.innerHTML = all_ids[i] + " (" + num.toString() + ")";
        } else {
          temp.innerHTML = all_ids[i].split(".")[1] + " (" + num.toString() +")";
        }
      }






              });
          });


          var filter = L.geoJson(geojsonFeature, {
              filter: function (feature, layer) {
                  return feature.properties.NAME_1 == "Luhans'k";
              },
          });


          function resetColor(layerGroup) {
              layerGroup.eachLayer(function (layer) {

                  if (layer.feature.properties.NAME_0 == "Ukraine") {
                      layer.setStyle({fillColor: '#fff'});
                  } else {
                      layer.setStyle({fillColor: '#fff'});
                  }
                  ;
              });
          }



          function refillColor(layerGroup, month, topic) {
              let keyArray = Object.keys(topicWeights[month][topic]);
              let maxVal = arrayMax(Object.values(topicWeights[month][topic]));

              for (let i = 0; i < keyArray.length; i++)
                  topicWeights[month][topic][keyArray[i]] = topicWeights[month][topic][keyArray[i]] / maxVal;

              layerGroup.eachLayer(function (layer) {
                  for (var key in topicWeights[month][topic]) {
                      if (!topicWeights[month][topic].hasOwnProperty(key)) {
                          continue;
                      }
                      var fillColor = 0;
                      if (layer.feature.properties.NAME_1 == key) {
                          var scale_value = 20
                          var a_value = 200 / (Math.exp(-1 * scale_value * topicWeights[month][topic][key]) + 1) - 100
                          layer.setStyle({fillColor: "hsla(" + fillColor + ", 100%, 50%," + a_value.toFixed(2) + "%"});
                      }

                  }
              });
          }

          function domGetTopic() {
              var topicIndex = parseInt(document.querySelector('input[name="topic_filter"]:checked').value);
              return topicList[topicIndex];
          }

          function domGetMonth(useTime) {
              var monthIdx = document.getElementById("monthSlider").value;
              var month = useTime ? monthList[monthIdx] : "all";
              var monthText = document.getElementById("monthText");
              monthText.innerHTML = month;
              return month;
          }


          $(".topic").click(function () {
              // console.log("topic")
              // console.log(map.hasLayer(layerGroup))
              resetColor(layerGroup);
              var topic = $(this).attr('id');
              var useTime = document.getElementById("useTime").checked;
              var month = domGetMonth(useTime);
              var monthText = document.getElementById("monthText");
              monthText.innerHTML = month;
              refillColor(layerGroup, month, topic);
          });


          $(".slider").on('input', function () {
              resetColor(layerGroup);
              var topic = domGetTopic();
              var useTime = document.getElementById("useTime").checked;
              var monthIdx = $(this).val();
              var month = useTime ? monthList[monthIdx] : "all";
               var monthText = document.getElementById("monthText");
              monthText.innerHTML = month;
              refillColor(layerGroup, month, topic);
          });


          $('input[type="checkbox"]').change(function () {
              resetColor(layerGroup);
              var topic = domGetTopic();
              var useTime = $(this).is(':checked') ? true : false;
              var month = domGetMonth(useTime);
              refillColor(layerGroup, month, topic);
          });


          function arrayMax(arr) {
              let len = arr.length, max = -Infinity;
              while (len--) {
                  if (arr[len] > max) {
                      max = arr[len];
                  }
              }
              return max;
          };
      })


		</script>
{% endblock %}

<!-- Compiled and minified JavaScript -->
<style>
{% block extra_css %}

 .custom-range {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 1px !important;
  background: #d3d3d3;
  outline: 0 !important;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border: none!important;
}

.slider:hover {
  opacity: 1;
  border: none!important;
}

 .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  border: none!important;
}

.custom-range::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background:#007bff !important;
  cursor: pointer;
  border: none!important;
}
hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}

.strike {
      display: block;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
  }

  .strike > p {
      position: relative;
      display: inline-block;
  }

  .strike > p:before,
  .strike > p:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 3%;
      background:rgba(52,58,64,0.2) ;
  }

  .strike > p:before {
      right: 100%;
      margin-right: 15px;
  }

  .strike > p:after {
      left: 100%;
      margin-left: 15px;
  }

  @import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

strong{
color: #58ba83;
}
.transition{
transition: all .3s ease-out;
}

.center-align{
width: 1000%;
height: 120%;
}

input[type="radio"]{
visibility: hidden!important;
height: 0!important;
width: 0!important;
cursor: pointer!important;
z-index: 2!important;
}

label {
display: table-cell!important;
vertical-align: middle!important;
text-align: center!important;
cursor: pointer!important;
background-color: white!important;
color: rgba(52,58,64,1)!important;
padding: 5px 10px;
border-radius: 3px!important;
.transition;
}
input[type="radio"]:checked + label{
background-color: #BD5D38!important;
color: white!important;
}
.collapsible {
background-color:white!important;
color:  rgba(52,58,64,1)!important;
cursor: pointer!important;
padding: 18px!important;
width: 33.3%!important;
border: none!important;
text-align: center !important;
outline: none!important;
font-size: 14px!important;
}




@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

div h1 {
display: inline-block;
opacity: 0.0;
animation: port 3s 1 forwards;
-webkit-animation: port 3s 1 forwards;
}

div h1:nth-of-type(2){
animation-delay: 0.1s;
-webkit-animation-delay: 0.1s;
}

div h1:nth-of-type(3){
animation-delay: 0.2s;
-webkit-animation-delay: 0.2s;
}

div h1:nth-of-type(4){
animation-delay: 0.3s;
-webkit-animation-delay: 0.3s;
}

div h1:nth-of-type(5){
animation-delay: 0.4s;
-webkit-animation-delay: 0.4s;
}

div h1:nth-of-type(6){
animation-delay: 0.5s;
-webkit-animation-delay: 0.5s;
}

div h1:nth-of-type(7){
animation-delay: 0.6s;
-webkit-animation-delay: 0.6s;
}

div h1:nth-of-type(8){
animation-delay: 0.7s;
-webkit-animation-delay: 0.7s;
}

div h1:nth-of-type(9){
animation-delay: 0.8s;
-webkit-animation-delay: 0.8s;
}

div:hover h1 {

}

@keyframes port {
0%{
  transform: rotateY(90deg) translateY(25%);
  opacity: 0.0;
}
100%{
  transform: rotateY(0deg) translateY(0%);
  opacity: 1.0;
}
}

@-webkit-keyframes port {
0%{
 -webkit-transform: rotateY(90deg) translateY(25%);
  opacity: 0.0;
}
100%{
  -webkit-transform: rotateY(0deg) translateY(0%);
  opacity: 1.0;
}
}




h1{
           font-size:25px;
           text-align: left;
           text-transform:capitalize;
       }
      .service-box{
          position: relative;
          overflow: hidden;
          margin-bottom:10px;
          height:300px;
          perspective:1000px;
          -webkit-perspective:1000px;
      }
      .service-icon{
          width: 100%;
          height: 240px;
          padding: 20px;
          text-align: center;
          transition: all .5s ease;
      }

      .service-content{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          opacity: 0;
          width: 100%;
          height: 240px;
          padding: 20px;
          text-align: center;
          transition: all .5s ease;
          background-color: #FFFFFF;
          backface-visibility:hidden;
          transform-style: preserve-3d;
          -webkit-transform: translateY(110px) rotateX(-90deg);
          -moz-transform: translateY(110px) rotateX(-90deg);
          -ms-transform: translateY(110px) rotateX(-90deg);
          -o-transform: translateY(110px) rotateX(-90deg);
          transform: translateY(110px) rotateX(-90deg);
      }
      .service-box .service-icon .front-content{
          position: absolute;
          top:80px;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          text-align: center;
      }

      .service-box .service-icon .front-content i {
          font-size: 28px;
          color: #fff;
          font-weight: normal;
          text-align: center;
      }

      .service-box .service-icon .front-content h3 {
          font-size: 15px;
          color: #fff;
          text-align: center;
          margin-bottom: 15px;
          text-transform: uppercase;
      }
      .service-box .service-content h3 {
          font-size: 15px;
          font-weight: 700;
          color: black;
          margin-bottom:10px;
          text-transform: uppercase;
      }
      .service-box .service-content p {
          font-size: 13px;
          color: #b1b1b1;
          margin:0;
      }
      .yellow{background-color: #FFFFFF;}
      .orange{background-color: #FFFFFF;}
      .red{background-color: #FFFFFF;}
      .grey{background-color: #474747;}
      .service-box:hover .service-icon{
          opacity: 0;
          -webkit-transform: translateY(-110px) rotateX(90deg);
          -moz-transform: translateY(-110px) rotateX(90deg);
          -ms-transform: translateY(-110px) rotateX(90deg);
          -o-transform: translateY(-110px) rotateX(90deg);
          transform: translateY(-110px) rotateX(90deg);
      }
      .service-box:hover .service-content {
          opacity: 1;
          -webkit-transform: rotateX(0);
          -moz-transform: rotateX(0);
          -ms-transform: rotateX(0);
          -o-transform: rotateX(0);
          transform: rotateX(0);
      }

      #paperdetail a {
          position: relative;
          display: block;
          text-align: left;
          float: right!important;
          margin:0 auto!important;
          border:none!important;

          text-transform: uppercase;
          animation: fadeIn 0.5s linear;
          animation-fill-mode: both;
        }

        @for $i from 1 through 5 {
        #paperdetail a:nth-child(#{$i}) {
            animation-delay: .75s * $i;
          }
        }


        @keyframes fadeIn {
          0% {
            opacity: 0;
            top: 100px;
          }
          75% {
            opacity: 0.5;
            top: 0px;
          }
          100% {
            opacity: 1;
          }
        }



        @import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing:border-box;
box-sizing: border-box;
}


.main-title{
color: #2d2d2d;
text-align: center;
text-transform: capitalize;
padding: 0.7em 0;
}

.importantcontainer{
padding: 1em 0;
float: left;
width: 50%;
}

.importantcontainer .title{
color: #1a1a1a;
text-align: center;
margin-bottom: 10px;
}

.importantcontent {
position: relative;
margin: auto;
overflow: hidden;
}

.importantcontent .content-overlay {
background: rgba(0,0,0,0.5);
position: absolute;
height: 100%;
/* width: 100%; */
left: 0;
top: 0;
bottom: 0;
right: 0;
opacity: 0;
-webkit-transition: all 0.4s ease-in-out 0s;
-moz-transition: all 0.4s ease-in-out 0s;
transition: all 0.4s ease-in-out 0s;
}

.importantcontent:hover .content-overlay{
opacity: 1;
}

.content-image{
width: 100%;
}

.content-details {
position: absolute;
text-align: left;
font-weight: 800;
padding-left: 1em;
padding-right: 1em;
width: 100%;
top: 50%;
left: 50%;
opacity: 0;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}

.importantcontent:hover .content-details{
top: 50%;
left: 50%;
opacity: 1;
}

.content-details h3{
color: #fff;
font-weight: 800;
letter-spacing: 0.15em;
margin-bottom: 0.5em;
text-transform: uppercase;
font-family: fantasy;
}

.content-details p{
color: #fff;
font-size: 0.9em;
font-family: fantasy;
font-style: italic;


}


.icons-container{
    height: 100px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

.social-icons .item {
    display: inline-block;
    margin: 5px;
    width: 50px;
    height: 50px;
    transition: .3s all;
    position: relative;
    -webkit-transition: .3s all;
    text-align: center;
    color: #fff;
    background-color: #fff;
    line-height: 48px;
    border-radius: 50px;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.18), 0px 4px 15px 0px rgba(0,0,0,0.15);
}

.social-icons.spinned .item:hover {
    -webkit-animation: Social-Icons-Flipping .3s;
    animation: Social-Icons-Flipping .3s
}
.social-icons .item:hover {
    text-decoration: none;
    background-color: #42474E;
    box-shadow: 0 -1px 0 transparent inset, 0 2px 3px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .3);
    color: #fff!important
}
.social-icons .item .fa {
    font-size: 15px;
    font-weight: 500;
}

.social-icons .facebook {
    color: #425F9C!important
}
.social-icons .twitter {
    color: #00ACEE!important
}
.social-icons .google {
    color: #c00!important
}
.social-icons .linkedin {
    color: #0073B2!important
}
.social-icons .youtube {
    color: #EB3E40!important
}
.social-icons .instagram {
    color: #5E8AAC!important
}

.facebook:hover {
    background-color: #425F9C!important
}
.twitter:hover {
    background-color: #00ACEE!important
}
.google:hover {
    background-color: #c00!important
}
.linkedin:hover {
    background-color: #0073B2!important
}
.youtube:hover {
    background-color: #EB3E40!important
}
.instagram:hover {
    background-color: #5E8AAC!important
}

@-webkit-keyframes Social-Icons-Flipping {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes Social-Icons-Flipping {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

#dataTable {
  font-family: "Montserrat";
  border-collapse: collapse;
  width: 100%;
}

#dataTable td, #dataTable th {
  border: 1px
  padding: 8px;
  font-size: 23px;
}

#dataTable tr:nth-child(even){background-color: #f2f2f2;}

#dataTable tr:hover {background-color: #ddd;}

#dataTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:  black;
  text-transform: uppercase;
  color: white;
}

{% endblock %}
</style>



{% block content %}




        <div id="map_visualization_container">
                <section class="page-section bg-light-gray" id="services">
                        <div class="container" id="block7">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                  <h2 class="section-heading text-uppercase" style="margin-top:0;">MAP </h2>
                                  <h5 class="section-subheading text-muted" style="font-size:smaller;font-style: italic;font-family: 'Droid Serif';">Please click each city to update information.</h5>



                                </div>
                        </div>

                 <div id="mapid" style="height: 700px; border-radius: 35px;"></div>


                 <!-- <br>
                 <br> -->

                 <input type="checkbox" id="useTime" checked="true" style="visibility: hidden; height:0px;"/>
                 <label for="useTime" style="visibility: hidden; height:0px;">Use time dimension</label>



                 <!-- <br>
                 <br> -->

                 <p id="p_date" style="display:none;"></p>

                      </div>
                    </section>
                    </div>
<section>
<div class="container" id="block8">
      <div class="row" id="visual" style="margin-top:-30px;">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase" style="margin-top:0;margin-bottom:15px;">LINE CHART VISUALIZATION</h2>
              <h5 class="section-subheading text-muted" style="font-size:smaller;font-style: italic;font-family: 'Droid Serif';">The line chart represents the distribution of news of different categories in different months.</h5>
            </div>
    </div>
        <!-- <form class="mt-5 col-xl-1"> -->
            <!-- <div class="row" style="margin-bottom: 15px; margin-right: 1px;">

              <div class="col">
                <input type="text" class="form-control" id="cityinput" placeholder="City Name">
              </div>

              <button type="button" class="btn btn-dark btn-email waves-light font-weight-bold" id="updatebutton" onclick="creategraph(); return false;" style="border-radius: 6px;">Update</button>

            </div> -->

          <!-- </form> -->

          <!-- <div class="row"> -->
           <!-- <div class="row" style="margin-top:100px!important;">
                  <div class="col-lg-12 text-center" style="margin-top:100px!important;">
                    <h5 class="section-subheading text-muted" style="font-size:smaller;font-style: italic;font-family: 'Droid Serif';">The line chart represents the distribution of news of different categories in different months.</h5>
                  </div>
          </div> -->

            <div class="col-xl-12 mb-5" id="linechartgroup" >
                <div class="card shadow mb-4" style="border-radius: 30px;">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: rgb(0,0,0,0);border: none;">
                    <h6 class="m-0 font-weight-bold text-dark" style="margin:0 auto!important;font-family: 'Droid Serif';"></h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                      <h4 class="small font-weight-bold" style="text-align:center; margin-top:7px; margin-bottom: -5px;" id='category2'></h4>
                    <div class="chart-area" id="linechartContainer" style="height:350px;">
                      <!-- <canvas id="myAreaChart"></canvas> -->
                    </div>
                  </div>
                </div>
              </div>



          </div>
          </section>
<section class="bg-light-gray">
  <div class="container" id="block6">

              <div class="row">
                     <div class="col-lg-12 text-center" >
                         <h2 class="section-heading text-uppercase" style="margin-top:0;margin-bottom:15px;">PIE CHART VISUALIZATION</h2>
                       <h5 class="section-subheading text-muted" style="font-size:smaller;font-style: italic;font-family: 'Droid Serif';">Click each category to update details of news below.</h5>
                     </div>
             </div>
              <div class="row col-lg-12 text-center" id="piechartgroup">
                  <!-- <div class="card shadow mb-4" style="border-radius: 30px;" > -->
                    <!-- Card Header - Dropdown -->
                    <!-- Card Body -->
                    <!-- <div class="card-body" style='margin-top:55px;'> -->
                        <!-- <h4 class="small font-weight-bold" style="text-align:center; margin-top:7px; margin-bottom: -5px;" id='category1'></h4> -->
                      <div class="chart-area pt-4 pb-2" id="piechartContainer" style='height:320px; margin-top:3em;'>


                      </div>
                    <!-- </div> -->
                  <!-- </div> -->
                </div>



                </div>
                </section>
                <section>
                  <div class="container" id="block9">


                <div class="row">
                      <div class="col-lg-12 text-center">
                          <h2 class="section-heading text-uppercase" id="name2" style="margin-top:0;"></h2>
                        <h5 class="section-subheading text-muted"   style="font-size:smaller;font-style: italic;font-family: 'Droid Serif';">It shows the titles of all the news of clicked category.</h5>
                      </div>
              </div>
                <div class="col-lg-12" id="paper_de" style='border-color:red;border-width: thick;'>
                    <div class="card shadow mb-4" style="border-radius: 30px; border-color:red;border-width: thick;">
                      <!-- Card Header - Dropdown -->
                      <!-- <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"  style="background-color: rgb(0,0,0,0);border: none;"> -->
                        <!-- <h6 class="m-0 font-weight-bold text-dark" style="margin:0 auto!important; font-family: 'Droid Serif';" id="name2"></h6> -->

                      <!-- </div> -->
                      <!-- Card Body -->

                      <div class="card-body" style="margin:0 auto; height:200px;"  style="overflow:hidden; position: relative;">
                          <ul class="list-group list-group-flush" style=" overflow-x:hidden!important; overflow-y: auto; height:200px;" id="paperdetail">

                          </ul>
                      </div>
                    </div>
                  </div>




              <!-- </div> -->

</div>
</section>
<section class="bg-light-gray" id="cool">
<div class="container" id="container10">


                <div class="row" id="key" style="margin-bottom:30px;">
                    <div class="col-lg-12 text-center">
                      <h2 class="section-heading text-uppercase" style="margin-bottom:15px;">KEYWORDS & IMAGE</h2>
                      <h5 class="section-subheading text-muted" style="font-size:smaller;font-style: italic;font-family: 'Droid Serif';">It shows the related image and keywords.</h5>
                    </div>
            </div>
                <!-- The following is the keywords, keyphrase, and image section -->
                <!-- <div class="row mt-5"> -->

                    <div class="col-lg-6" id=imagecontain>

                            <div class="importantcontent" style="margin: 0 auto; " id="imagegroup">
                              <div>
                                <div id="overlay" class="content-overlay" style="border-radius: 25px;"></div>
                                <div id="image_container">

                              </div>
                                <div class="content-details" id="explain">

                                </div>
                              </div>


                            </div>

                          </div>
                          <!-- <script type="text/javascript">
                            var imagecontain = document.getElementById("imagecontain");
                            var group = document.getElementById("piechartgroup").offsetWidth;
                            imagecontain.style.marginLeft = (group/2).toString() + "px";
                          </script> -->


                      <div class="col-lg-6" style="border-radius: 30px; border: 1px solid #000;">
                          <div style="border-radius: 30px;">
                            <!-- Card Header - Dropdown -->

                            <!-- Card Body -->

                            <div style="margin:0 auto; height:550px;"  style="overflow:hidden; position: relative;border: solid #000; border-width: 0 1px;">
                                <ul class="list-group list-group-flush" style="margin-top:10px!important;overflow-x:hidden!important; overflow-y: auto; height:520px; list-style: none!important;" id="keywords">
  4
                                </ul>
                            </div>
                          </div>
                        </div>



</div>
<script type="text/javascript">
  var container = document.getElementById("container10");
  var cool = document.getElementById("cool").offsetWidth;
  var paperdetail = document.getElementById("block9");
  var block8 = document.getElementById("block8");
  var block7 = document.getElementById("block7");
  var block6 = document.getElementById("block6");

  container.style.width = cool.toString() + "px";
  paperdetail.style.width = cool.toString() + "px";
  block8.style.width = cool.toString() + "px";
  block7.style.width = cool.toString() + "px";
  block6.style.width = cool.toString() + "px";
</script>
      </section>

      <section id="services">
        <div class="col-lg-12">
            <div class="row" id="key" style="margin-bottom:35px;">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading text-uppercase" style="margin-bottom:15px;">Category Representative Phrases</h2>
                  <h5 class="section-subheading text-muted" style="font-size:smaller;font-style: italic;font-family: 'Droid Serif';">It shows relevant words of different categories;</h5>
                </div>
        </div>
            <!-- <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Category Representative Phrases</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div> -->
            <div class="text-center col-lg-12 mt-5">
              <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead id="table_title">

                          </thead>

                          <tbody id = "table_content">

                          </tbody>
                        </table>
                      </div>
            </div>
        </div>
    </section>


   <!-- <div class="temp">
    <div id="button"></div>
  <div id="container" style="border-radius: 25px;">
  <div id="cont" >
  <div class="temp_center">

    <h4 style="margin-top:60px; color: white;">TIME NAVIGATION</h4>
    <form class="range-field custom-range" style=" margin-top:18px;">
        <input type="range" id="monthSlider" list="tickmarks" class="slider col-lg-13 custom-range" value="0" step="1" min="0" max="72"/>
        <output name="amount" id="monthText" class="font-weight-bold" for="rangeInput" style="color:white;">2008-08</output>
      </form>
      <script>

         function defaultvalue() {
            var monthList = {{ monthList|safe }};
            var monthslider = document.getElementById("monthSlider");
            var temp_value = parseInt(monthslider.value);
            var date = monthList[temp_value];
            var text = document.getElementById("monthText");
            text.innerHTML = date.toString();
            console.log(temp_value);
            console.log("time_range");

          };


      </script>

  </div>
  </div>
  </div>
  </div> -->


</div>






        </div>
{% endblock %}
